*{box-sizing: border-box;
padding: 0;
margin: 0;}
header{
background-color: #a70000;
}
body {
font-family: 'Roboto', sans-serif}
nav {
text-decoration: none;
padding: 1rem 2rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
nav label,#hamburger {
display: none;
}
.logo {
display: flex;
justify-content: flex-start;
font-size: 2em;
font-family: 'Nunito', sans-serif;
padding: 10px 20px;
text-decoration: none;
text-shadow: 1px 1px black,
2px 2px black,
3px 3px black;
}
a {
text-decoration: none;
padding: 1rem 2rem;
color: white;
text-align: center;
font-size: 24px;
display: flex;
text-align: center;
transition: .3s;
}
ul a:hover {
background-color:rgba(0,0,0,.7);
border-radius: .7rem;
}
ul a:active{
border-radius: 1.9rem;
}
.logo:hover {
transform: rotateY(180deg);
}
ul{
margin-left: auto;
text-decoration: none;
list-style: none;
}
li{
text-align: center;
display: inline-block;
}
.start {
background-image: url(fotos/foodkopie.jpg);

background-size: cover;
padding: 4rem 2rem;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
align-items: center;
}
.start > h1 {
font-size: 4rem;
padding-bottom: 1rem;
color: white;

}
.start > article > p {
font-size: 1.5rem;
font-weight: 200;
color: white;
}
.start::before{

}
.vraag{
 

}
.filter{
max-height: 5vh; 
  max-width: 5vw;
}
form {
margin-left: -28.5em;
width: 100%;
max-width: 21.5em;
height: 5em;
background: #fff;
border-radius: 2px;
box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
.showform{
margin-left: 0em;
width: 100%;
max-width: 21.5em;
height: 5em;
background: #fff;
border-radius: 2px;
box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
section {
padding: 2em;
}
section > ul {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
grid-gap: 1em;
}
section > ul > li {
border: 1px solid black;
border-radius: .5rem;
}
section > ul > li > figure {
max-height: 220px;
overflow: hidden;
border-top-left-radius: .5rem;
border-top-right-radius: .5rem;
position: relative;
}
section > ul > li > figure > img {
width: 100%;
}
section > ul > li > figure > figcaption {
position: absolute;
bottom: 0;
background-color: rgba(0,0,0,.7);
width: 100%;
}
section > ul > li > figure > figcaption > h3 {
color: white;
padding: .75rem;
font-size: 1.25rem;
}
section > ul > li > p {
font-size: 1rem;
line-height: 1.5;
padding: 1rem .75rem;
color: black;
}
section > ul > li > a {
padding: .5rem 1rem;
margin: .5rem;
background-color:#a70000;
border-radius: .5rem;
display: flex;
justify-content: center;
}
section > ul > li > a:hover {
background-color:black;
border-radius: .7rem;
}
@media screen and (max-width: 950px){
nav label {
display: inline-block;
color: #fff;
font-style: normal;
font-size: 1.6em;
padding: 10px;
}
header{
position: sticky;
top: 0;
left: 0;
z-index: 1;
}
ul{
width: 100%;
}
nav ul li {
display: block;
}
nav ul li {
border-top: 1px solid #fff;
}
nav ul {
display: none;
}
nav input:checked ~ ul {
display: block;
}
h1{
font-size: 2em;
display: flex;
justify-content: flex-start;
}
@media (prefers-color-scheme: dak) {
body{
background-color: #1e1e1e;
color: #d8d8d8;
}
section > ul > li > p {
color: white;
}
section > ul > li > a:hover {
background-color:white;
border-radius: .7rem;
color: black;}
section>ul>li {
border: 1px solid white;
}
*{
color: white;
}
footer{
background-color:blue;
}