*{box-sizing: border-box;
padding: 0;
margin: 0;
;}
header{
background-color: #fb5f5f;
}
body{font-family: 'Roboto', sans-serif}

nav {
text-decoration: none;
padding: 1rem 2rem;
width: 100vw;
}
.rollendekeukens{
{
justify-content: flex-start;
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
}

a {
text-decoration: none;
padding: 1rem 2rem;
color: white;
text-align: center;
font-size: 24px;
align-content: center;
display: block;
text-align: center;

}

ul{
text-decoration: none;
display: flex;
justify-content: flex-end;
list-style: none;
}
}
li{
text-align: center;
}
article{
background-color: #fb5f5f;
max-width: 40em;
height: auto;
display: flex;
justify-content: flex-end;
}